@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;800&display=swap");

html {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1rem;
  background: hsl(210deg 100% 98%);
  color: hsl(210, 60%, 18%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  height: 3rem;
}

h1,
h2 {
  margin: 0.5rem 0;
}

h1 {
  font-size: 2em;
  font-weight: 800;
}

h2 {
  font-size: 1.25em;
  font-weight: 600;
}

.title {
  margin: 0;
  display: inline-block;
  background-color: #d666cb;
  background-image: linear-gradient(150deg, #eca951, #d666cb);
  background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
}

button {
  display: block;
}

a {
  font-weight: 400;
  color: #d666cb;
}

textarea {
  border: 0;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1rem;
  resize: none;
}

button {
  border: 0;
  background: #d666cb;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.controls {
  label {
    margin-right: 1rem;
  }

  input:not([type="checkbox"]),
  select {
    height: 2rem;
    margin-right: 1rem;
  }

  select {
    min-width: 8rem;
  }

  button {
    display: inline-block;
  }
}

main {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 6rem);
}

.input {
  textarea {
    width: 100%;
    flex-grow: 1;
    text-wrap: nowrap;
    /* border: 1px solid hsl(210deg 60% 18% / 0.6); */
  }
}

.input,
.output {
  width: 49%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.divider {
  width: 2%;
  display: flex;
  justify-content: center;

  &::after {
    /* content: ""; */
    height: 100%;
    display: block;
    width: 1px;
    background: hsl(210, 60%, 17%);
  }
}

.output {
  pre {
    overflow-x: auto;
    flex-grow: 1;
    padding: 1rem;
    border-radius: 1rem;
    background: white;
    /* border: 1px solid hsl(210deg 60% 18% / 0.6); */
  }
}
