doctype html
html
  head
    link(rel="stylesheet", href="../node_modules/prismjs/themes/prism.css")
    link(rel="stylesheet", href="./css/bstn-theme.css")
  body
    pre
      code(class=language) !{code}