@use "./partials/colours" as *;

$comment-colour: $dark-green;
$string-colour: $blue;
$function-colour: $purple;
$keyword-colour: $dark-blue;
$punctuation-colour: $green;
$number-colour: $red;

/**
 * Default theme
 */

.token {
  &.keyword,
  &.boolean {
    color: $keyword-colour;
    font-weight: bold;
  }

  &.prolog,
  &.comment,
  &.doctype,
  &.cdata {
    color: $comment-colour;
    font-style: italic;
  }

  &.function {
    color: $function-colour;
  }

  &.selector,
  &.string,
  &.char,
  &.builtin,
  &.inserted {
    color: $string-colour;
  }

  &.attr-name {
    color: $dark-blue;
  }

  &.punctuation,
  &.operator {
    color: $punctuation-colour;
  }

  &.number {
    color: $number-colour;
  }
}
