$green: hsl(106deg, 60%, 25%);
$purple: hsl(296deg, 75%, 22%);
$blue: hsl(223deg, 53%, 51%);
$dark-blue: hsl(240deg, 100%, 19%);

$comment-colour: $green;
$string-colour: $blue;
$function-colour: $purple;
$keyword-colour: $dark-blue;

.token.keyword,
.token.boolean {
  color: $keyword-colour;
  font-weight: bold;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $comment-colour;
  font-style: italic;
}

.token.function {
  color: $function-colour;
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: $string-colour;
}

.token.attr-name {
  color: $dark-blue;
}
