@use "./partials/reset";
@use "./partials/colours" as *;

pre {
  margin: 0;
}

code {
  > .lines {
    padding-inline-start: 3.5rem;
    margin: 0;

    > .line {
      text-indent: 0.5rem;

      // When pasting into Google Slides, this is used as the colour of the line number marker.
      color: $grey;

      &::marker {
        color: $grey;
      }

      // Reset the above colour so that any text not inside an element is black, not grey.
      > .line-content {
        color: $black;
      }
    }
  }
}
