@use "./partials/reset";
@use "./partials/colours" as *;

@use "../../node_modules/prismjs/themes/prism.css";

pre {
  margin: 0;

  &.theme-dark {
    background-color: $black;
  }
}

code,
code[class*="language-"] {
  text-shadow: none;
  color: $black;

  .theme-dark & {
    color: $white;
  }

  .lines {
    padding-inline-start: 2.5em;
    margin: 0;
  }

  .line {
    text-indent: 0.5em;

    // When pasting into Google Slides, this is used as the colour of the line number marker.
    color: $light-grey;

    &::marker {
      color: $light-grey;
    }
  }

  // Reset the above colour so that any text outside a token is black, not grey.
  .line-content {
    color: $black;

    .theme-dark & {
      color: $white;
    }
  }
}

.token {
  // Reset a weird background colour in the Prism default theme.
  &.operator,
  &.entity,
  &.url,
  .language-css &.string,
  .style &.string {
    background: none;
  }

  &.keyword,
  &.boolean {
    color: $blue;
  }

  &.prolog,
  &.comment,
  &.doctype,
  &.cdata {
    color: $light-grey;
    font-style: italic;
  }

  &.function {
    color: $green;
  }

  &.string,
  &.char,
  &.inserted {
    color: $orange;
  }

  &.tag {
    color: $blue;
  }

  &.attr-name {
    color: $green;
  }

  &.attr-value {
    color: $orange;

    .token {
      // Quotes in attribute values use value colour (not punctuation colour)
      &.punctuation:not(.attr-equals) {
        color: inherit;
      }
    }
  }

  &.punctuation {
    color: $black;

    .theme-dark & {
      color: $white;
    }
  }

  &.operator,
  &.number {
    color: $red;
  }

  &.parameter {
    color: $purple;
  }

  &.property {
    color: $purple;
  }

  &.decorator {
    color: $green;

    > .token {
      color: inherit;
    }
  }

  &.builtin {
    color: $purple;
  }

  &.identifier {
    color: $green;
  }

  &.selector {
    color: $blue;
  }
}

.language-css,
.language-scss {
  .token {
    &.keyword {
      color: $green;
    }

    &.parent {
      color: $red;
    }
  }
}
